@import "tailwindcss";


@theme {
  --color-text-primary: #1f2933;
  --color-text-secondary: #4b5563;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f9fafb;

  --color-border-primary: #d3d3d3;

  --color-text-dark-primary: #f9fafb;
  --color-text-dark-secondary: #d1d5db;

  --color-bg-dark-primary: #0f172a;
  --color-bg-dark-secondary: #020617;
}

@layer utilities {
  .theme-card {
    @apply bg-bg-primary text-text-primary dark:bg-bg-dark-primary dark:text-text-dark-primary;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 5000;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  @apply text-[3.2em] font-[500] text-[1.1];
}
